body {
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.5;
    color: hsl(0, 0%, 20%);
    background-color:rgb(180, 172, 211);
  }
  
  h1, h2 {
    color: #000000;
  }
  
  #navbar {
    position: fixed;
    top: -1px;
    left: 0px;
    width: 30vw;
    height: 100%;
    border-style: solid;
    border-width: 1px;
  }
  
  #navbar header {
    text-align: center;
  }
  
  #nav-list {
    list-style: none;
    padding-left: 0px;
    overflow-y:auto;
  }
  
  #nav-list li {
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 90%);
    text-align: center;
  }
  
  #nav-list li:hover {
    animation-name: nav-list-item-color;
    animation-duration: 90ms;
    animation-fill-mode: forwards;
  }
  
  @keyframes nav-list-item-color {
    100% {
        background-color: hsl(200, 70%, 90%);
        border-width: 2px;
        border-color: hsl(200, 70%, 30%);
    }
  }
  
  .nav-link {
    text-decoration:underline;
    color:blue;
  }
  
  main {
    margin-left: 31vw;
    margin-right: 1vw;
  }
  
  main ol {
    list-style: disc;
  }
  
  main li {
    margin-top: 5px;
  }
  
  .main-section {
    text-align: justify;
    text-decoration:inherit;
  }
  
  code{
    background-color: hsl(132, 12%, 92%);
    display:block;
    line-height: 2;
    white-space: pre;
    word-wrap: normal;
    border-radius:5px;
    padding: 5px;
    padding-left: 10px;
  }
  
  @media(max-width: 810px) {
    #navbar {
      position: relative;
      width: 100%;
      border-style: none;
      height: auto;
    }
    #nav-list {
      max-height: 35vh;
      width: 100%;
    }
   
    main {
      margin: auto;
      margin-left: 1vw;
      margin-right: 1vw;
    }
  }
  
  @media(max-width: 500px) {
    body {
      font-size: 90%;
    }
  }
  
  @media(max-width: 400px) {
    body {
      font-size: 80%;
    }
  }
  #hello,#table {
    background-color:wheat;
  }
  #tab,tr,td,th{border: 1px solid white;
    border-spacing: 0px;
    text-align: center;
  }
  
  #list,#list1{
    list-style-type: none;
  }
  
